.btn {
  width: fit-content;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
  padding: 6px 14px;
}

.btn:hover {
  background-color: var(--orange);
  color: var(--light-navy);
}
