.sidebar .head {
  margin: 10px 0 20px;
}

.sidebar .search {
  box-shadow: 0 0 5px #12121240;
  margin: 0 0 30px;
}

.sidebar .user-links {
  padding: 20px 0 0;
  margin: 20px 0 0;
  border-top: 1px solid #1f303c4d;
}
